@inherits LayoutComponentBase

<div class="flex">
    <div class="">
        <NavMenu />
    </div>

    <main class="flex-1 p-4">
        <article class="bg-white p-4 h-[calc(100dvh-2rem)] rounded">
            @Body
        </article>
    </main>
</div>

