@inherits LayoutComponentBase

<div class="min-h-[100dvh] flex w-full">
    <NavMenu />

    <div class="flex-1">
        <main class="p-4">
            <article class="overflow-auto h-[calc(100dvh-3rem)] w-full rounded bg-white p-4 shadow-xl">
                @Body
            </article>
        </main>
    </div>
</div>

