<aside>
    <div class="flex items-center justify-center">
        <a class="font-bold" href="">ComponentsApp</a>
    </div>

    <div class="">
        <nav class="">
            <div class="">
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>

            <div class="">
                <NavLink href="counter">
                    Counter
                </NavLink>
            </div>

            <div class="">
                <NavLink href="weather">
                    Weather
                </NavLink>
            </div>
        </nav>
    </div>
</aside>