@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<aside class="h-screen border-r bg-velsoldarkgrey min-w-40" id="sidebar">
    <div class="p-4 pt-8">
        <div class="flex items-center justify-center">
            <button class="btn btn-base btn-primary" @onclick="GoHome">
                ComponentsApp
            </button>
        </div>
        <div class="">
            <nav class="flex flex-col gap-2 py-4">
                <NavMenuLink Title="Home" Href="/" Icon="fa-solid fa-home"/>
                <NavMenuLink Title="Counter" Href="/counter" Icon="fa-solid fa-chart-bar"/>
                <NavMenuLink Title="QuickGrid" Href="/quickgrid" Icon="fa-solid fa-table"/>
            </nav>
        </div>
    </div>
</aside>

@code {
    public void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
}