@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div>
    <NavLink href="@Href" Match="NavLinkMatch.All" class="flex items-center space-x-2">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <i class="@Icon text-white"></i>
        }
        <span class="text-white">@Title</span>
    </NavLink>
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public required string Href { get; set; }
}