@* @page "/better-counter/{Title?}" *@
@* @page "/better-counter/{StartingValue:int}" *@
@page "/better-counter"
@rendermode InteractiveAuto

<PageTitle>Better Counter</PageTitle>

<h2 class="text-lg font-bold">Current count: @counterValue</h2>

<Counter OnCounterChanged="UpdateCount" />

@code {
    private int counterValue = 0;

    private void UpdateCount(int val)
    {
        counterValue = val;
    }
}
