@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <div class="flex gap-2">
    <BetterCounter StartingValue="200" />
    <BetterCounter StartingValue="300" />
    <BetterCounter StartingValue="400" />
</div> *@